<style>
header {
    color: black;
    margin: 10px;
    text-align: left;
    font-size: 1.8em;
    font-weight: thin;  
}
body {
    display: block;
}
nav {
    display: block;
}
#main-doc {

    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
.main-section {

}
.nav-link {
    
    text-decoration: none;
}
@media (min-height: 800px)
{p {font-size: 10px;}}
  
#navbar {
 position: fixed;
 border-right: solid;
 border-color: black;
  overflow-y: auto;
 height: 100%;
 width: 300px; 
 min-width: 290px;
top: 0px;
left: 0px;
line-height: 1;
}
#navbar ul {
    height: 88%;
    line-height: 1.7em;
    font-size: 1.2em;
    margin: 0;
    padding: 15;
}
.main-section {
  display: block;
  line-height: 1.5em;
}
section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
    display: block;
}

#navbar li {
    color: #4d4e53;
    border-top: 0.2px groove;
    list-style: none;
    position: relative;
    width: 100%;
    text-size: 1.9em;
}
 h2 {
    font-size: 23px;
    font-weight: 500;
    color: #1D5AAB;
    line-height: 1.2;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    color: #1D5AAB;
    line-height: 1.2;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
}
code {
    font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
    font-size: 13px;
    color: #000;
    line-height: 1.615;
    font-weight: normal;
    background-color: #eee;
    padding: 3px 0;
}
pre {
    font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
    font-size: 13px;
    color: white;
    line-height: 1.615;
    background-color: #000;
    border: 1px solid #fff;
    padding: 5px;
    margin-bottom: 1em;
    word-wrap: normal !important;
    white-space: pre !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
code.codeph {
  font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
   
    color: #000;
    line-height: 1.615;
    font-weight: normal;
    padding: 3px 0;
    background: inherit;
}
code-border {
  border-radius: 6px;
    border: solid 2px #dedad6;
    background-color: #ffffff;
    padding: 18px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #1a1816;
}
.note-box {
      background-repeat: no-repeat;
    background-position-x: 35px;
    background-position-y: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #1a1816;
    background: #e7f2fa;
    margin-top:auto;  
}
.note-head {
  background: #6ab0de;
  color:white;
 font-weight: bold;
 margin-bottom:0px; 
 padding-left: 10px; 
}
.img-view {
    height: 400px;
    width: 500;
    display: block;
    margin: auto;
}
footer {
  margin-left: 310px;
    padding: 20px;
    background-color: #095dd3;
    color:white;
    font-weight: 700;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: noto sans,open sans,sans-serif,times new roman,serif;
    display:block;
}
</style>